body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  border: 29px outset #140E44;
  border-radius: 15px;
  background-color: "#2d2a2a";
  min-height: "60%";
}

.leftmenu{
    border: 29px outset #140E44;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 15px;
    background-color: "#2d2a2a";
    position: absolute;
}

.content-wrapper {
  min-height: "60%";
}

.toggle-btn-open {
  background: transparent;
  border: none;
  color: white;
  float: right;
  font-size: 18px;
}

.toggle-btn-closed {
    background: #33aaef;
    color: #fff;
    position: fixed;
    left: 0;
    transition: 300ms linear all;
}
